.postlayer1 {
}
.center.aligned.six.wide.computer.sixteen.wide.mobile.six.wide.widescreen.column {
    text-align: -webkit-center;
}

.introlayer1 {
    width:50vh;
    position: relative;
    /* margin-left: 10vh; */
    height: 25vh;
    transform:rotate(5deg);
    border: 1px solid grey;
    color: white;
    /* zoom:2; */
}
.introlayer2 {
    width:fit-content;
    height: 25vh;
    transform:rotate(-5deg);
    border: 1px solid grey;
    
}
.introlayer3 {
    width:fit-content;
    height: 25vh;
    transform:rotate(2deg);
    border: 1px solid grey;
    
}

p.IntroContent {
    /* font-size: 15px;
    font-size: 3vw; */
    font-size: auto;
    text-align: center;
  }
  
.mainintrolayer {
    padding: 5%;
    text-align: center;
    transform:rotate(-2deg);
}
@media only screen and (max-width: 900px) {
    /* Mobile */
     .introlayer3,.introlayer2,.introlayer1{
         width: 44vh;
     }
    .introlayer1 {
        margin-left: 1vh;
    }
}