
@import "~react-image-gallery/styles/css/image-gallery.css";
.galleryDiv {
    height: 100vh;
    width: 100%;
    z-index: 999;
    background-color: black;
    text-align: center;
}
.Dial {
    z-index: 996;
}