
@import "~react-image-gallery/styles/css/image-gallery.css";
.galleryDiv {
    min-height: 50vh;
    width: 70%;
    z-index: 999;
    margin-left: 15%;
    background-color: #1b1c1d;
    text-align: center;
    transition: 0.5s;
}
.galleryDiv:hover {
    /* height: 100vh; */
    background-color: #1b1c1d;
    box-shadow: 0px 0px 80px -20px #74c54f;
  }
.Dial {
    z-index: 996;
}

.loadScreenGallery{
    width: 100%;
    transition: 1s ease-in-out;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.473);
    display: flex;
    box-shadow: 0px 10px 20px black;
  }