img.ui.small.avatar.image.faceimage {
    padding: 2%;
    width: 20vh !important;
    height: 20vh !important;
    object-fit: cover;
    object-position: top;
}

canvas.faceimage {
    border-radius: 100%;
    padding: 2%;
}