/* .scene {
  width: 1000px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-perspective: 800px;
          perspective: 800px;
} */
.aboutuscard {
  position: relative;
  margin-top: 1vh;
  will-change: boxShadow;
  width: 30vh;
  height: 40vh;
  color: white;
  cursor: pointer;
  border:0px solid gray;
  margin-bottom: 5vh;
  /* border-style: dashed; */
  text-align: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;

}

.aboutuscard:hover {
  -webkit-transform: rotateY(0.5turn);
          transform: rotateY(0.5turn);
          box-shadow:0px 2px 4px 0px #c1930c;
          border-radius: 5px;

}
.aboutuscard .card__face {
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: red; */
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, rgba(0, 0, 0, 0));
}
.aboutuscard .card__face {
  -o-object-fit: cover;
     object-fit: cover;
     background-color: #c1930c14;
     box-shadow:0px 2px 4px 0px #c1930c;
}

.aboutuscard .card__face--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
          background-color: #c1930c14;

}
@media only screen and (min-width:728px) {
.paddingMockBlock{
        height: 25vh;
        padding-top: 6vh;
        padding-left: 2vh;
        padding-right: 2vh;
}
}
.social_icons {
        position: fixed;
        top: 54%;
        width: 90%;
        text-align: center !important;
    }


.blue{
        color:  #1875D0;
}
.column.justToAlignMemberCards {
        text-align: -webkit-center !important;
    }

@media only screen and (max-width:728px) {
        .aboutuscard{
                /* margin: 10%; */
                /* padding: 10%!important; */
                width: 30vh;
                height: 40vh;
                                
                zoom: 0.8;
        }
        .aboutuscard .card__face{
                padding: 10%;
        }
.social_icons {
        margin-left: -10%;      
}
.paddingMockBlock{
        height: 20vh;
        font-size:1.7vh;
        padding-top: 2vh;
        padding-left: 2vh;
        padding-right: 2vh;
        /* width: 90%; */
}
    } 