@import url(https://fonts.googleapis.com/css?family=Roboto);
/*Just the background stuff */
span.s1 {
  position: absolute;
  top: 0;
  font-size: 15rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #3C4447;
}

span.s2 {
  font-weight: 800;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 15rem;
  text-transform: uppercase;
  color: #3C4447;
}

body {
  font-family: "Roboto", sans-serif;
}

/* The card */
.card1 {
  position: relative;
  height: 80%;
  width:80%;
  margin: 30px auto;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px blue;
}

/* Image on the left side */
.thumbnail1 {
  /* float: left; */
  /* position: relative; */
  /* left: 30px;
  top: 10px; */
  height: 32vh;
  width: 53vh; 
  -webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  border-radius: 10px;
  

}

/*object-fit: cover; */
/*object-position: center; */
img.left1 {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Right side of the card */
.right1 {
  margin-left: 590px;
  margin-right: 20px;
}
.title1 {
  padding-top: 15px;
  font-size: 3rem;
  color: #686868;
  text-align: left;
}



.sub.header.paraCard {
  text-align: justify;
  /* padding-top: 2vh; */
  font-size: 2vh !important;
  line-height: 150%;
  color: white !important;
  padding-top:4vh !important;
  padding-left:1vh !important;
  padding-right:8vh !important;
}

@media only screen and (max-width: 700px) {
  .row.aboutCard {
    
    text-align-last: center;
    /* padding-top: 4vh !important; */
    /* box-shadow: 0px 2px 6px 0px blue; */
    margin-left:4vh !important;
    margin-right:4vh !important;
    transition: ease-in-out 0.5s;
    /* padding-top:4vh !important; */
    margin-top:6vh !important;
    padding: 1vh 4vh 1vh 4vh !important;
    /* padding-bottom:6vh !important; */
    border-radius:1em !important;
}
  .sub.header.paraCard {
    text-align: justify;
    padding: 0vh 1vh 0vh 1vh !important;
    font-size: 2vh !important;
    line-height: 150%;
    color: white !important;
    /* padding-top:4vh !important;
    padding:10% !important; */
    /* padding-left:1vh !important;
    padding-right:8vh !important; */
  }
  
.title1 {
  padding-top: 15px;
  font-size: 2rem;
  color: #686868;
  text-align: left;
  padding:2vh !important;
}
.column.justToAlignImage {
  text-align: -webkit-center !important;
}
.thumbnail1 {
  height:23vh;
  width: 33vh;
  /* zoom: 0.7;  */
  /* margin-left:4%; */
  -webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  border-radius: 10px;
}
}