.firstAboutPage{
min-height: 80vh;
/* transition: 0.5s; */
/* background-color: black; */
}
.firstAboutPage:hover {
    /* height: 100vh; */
    /* background-color: #1b1c1d; */
    /* box-shadow: 0px 0px 80px -20px #74c54f; */
  }

.secondAboutPage{
min-height: 100vh;
/* background-color: black; */
padding: 2%;
text-align: center;
}
.spotlight {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(
        circle,
        transparent 160px,
        rgba(0, 0, 0, 0.85) 200px
    );
}

@media only screen and (max-width: 900px) {
    .ui.tabular.blogMenuTop.menu {
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .firstAboutPage{
        height: auto;
        /* background-color: black; */
        /* padding-bottom:20vh !important; */
        }
        
        .secondAboutPage{
        height: auto;
        /* background-color: black; */
        padding: 2%;
        text-align: center;
        /* padding-bottom:20vh !important; */
        }  
}
