
/* for UserPanel (main component) */
.userPanel__root{
    min-height: 100vh;
    background-color: black;
}
.userLogIn{
    height: 100vh;
    padding: 100px;
    background-color: black;
}

.userLogIn > .field > input{
    background-color: rgba(255,255,255, 0.12) !important;
    border-radius: 0rem !important;
    border: 1px solid white !important;
    color: white !important;
}

.userLogIn > .form > img{
    border: 1px dashed white !important;
    padding: 10px !important;
}

.userLogIn > .form > button{
    color: white !important;
    background-color: black !important;
}

.userLogIn > .form > button:hover{
    border: 2px solid white !important;
    border-radius: 0rem !important;
}