
/* for UserPanel (main component) */
.userPanel__root{
    background-image: url("https://i.pinimg.com/originals/10/69/a7/1069a7113c399a9a9ca3185769c59134.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.userLogIn{
    height: 100vh;
    padding: 100px;
    background-color: black;
}

.userLogIn > .field > input{
    background-color: rgba(255,255,255, 0.12) !important;
    border-radius: 0rem !important;
    border: 1px solid white !important;
    color: white !important;
}

.userLogIn > .form > img{
    border: 1px dashed white !important;
    padding: 10px !important;
}

.userLogIn > .form > button{
    color: white !important;
    background-color: black !important;
}

.userLogIn > .form > button:hover{
    border: 2px solid white !important;
    border-radius: 0rem !important;
}