.changePassword{
    max-height: 100vh;
    padding: 80px;
}

.changePassword__box{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
}

.inputBox{
    padding: 5px;
    margin: 8px;
}

.inputBox > .ui.input>input{
    background-color: rgba(0, 0, 0, 0.7) !important;
    color: white !important;
    border-radius: 0rem !important;
}

@media only screen and (max-width: 730px) {
    .changePassword{
        padding: 40px;
        zoom: 0.8;
        padding-top: 180px;
    }

  }

.changePassword__error{
    color: red;
}

.changePassword__warning{
    color: yellow;
}

.changePassword__success{
    color: green;
}
