.userLoginForm{
    max-height: 100vh;
    padding: 80px;
}

@media only screen and (max-width: 730px) {
    .userLoginForm{
        padding-top: 250px;
        zoom: 0.65;
    }

  }

.userLoginform__root{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
}

.userLogin__displayMessage > p{
    color: white;
}

.userLogin__displayMessage{
    text-align: center;
}

.inputBox > .ui.input>input{
    background-color: rgba(0, 0, 0, 0.7) !important;
    color: white !important;
    border-radius: 0rem !important;
}