@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.admin__tcrLogo{
    padding-left: 10px;
}

.nav{
    /* font-family: 'Patrick Hand', cursive; */
    font-size: 2vh;
    font-weight: bold;
}

.ui.inverted.vertical.labeled.icon.ui.overlay.right.thin.sidebar.sidebarAdminPanel.menu {
    margin-top: 13vh !important;
}