
.postlayer1 {
    width:35vh;
    height: 20vh;
    transform:rotate(5deg);
    border: 1px solid grey;
    /* zoom:2; */
    margin-right: 20px;
}
.postlayer2 {
    width:35vh;
    height: 20vh;
    transform:rotate(-5deg);
    border: 1px solid grey;
}
.postlayer2:hover {
    background-color: #B32D2D;
    transform:rotate(-5deg);
}
.cardContent{
    /* transform: rotate(-1deg); */
}
.postlayer3 {
    width:35vh;
    height: 20vh;
    transform:rotate(2deg);
    border: 1px solid grey;   
}
.mainLayerFront{
    height: 20vh;
    color: rgb(204, 203, 203);
    padding: 5%;
    background-color: black;
    border: 1px solid grey;
}
.mainLayer{
    background-color: #B32D2D;
    height: 20vh;
    z-index: 999;
    display: none;
}
.ui.card.customBlogCard{
    background-color: transparent;
    border: 0px solid white;
    box-shadow: none;
}

@media only screen and (max-width: 900px) {
    /* Mobile */
    
        .postlayer1 {
        margin-top: 5vh; 
        }
}