.firstPage {
    height: 100vh;
    background-color: black;
}
.ui.medium.header.Title {
    font-size: 6vh;
    margin-left: 10%;
    color: white;
}
.fourteen.column.row.mainRow {
    margin-top: 15vh;
}
.ui.large.image {
    margin-left: 18%;
}
.ui.black.inverted.center.aligned.segment.introCard {
    padding: 8%;
    font-size: 20px;
    border:1px solid white;
    /* width: 20vh; */
    height: 30vh;
}

/* .ui.small.image.matAsset1 {
    width: 13vh;
    height: 13vh;
}
.ui.small.image.matAsset4 {
    width: 13vh;
    height: 13vh;
} */
.matAsset2 {
    width: 7vh;
    height: 7vh;
    /* opacity: 0.5; */
    z-index: 5;
    background-color: red;
    opacity: 0.5;
}
.matAsset3 {
    width: 7vh;
    height: 7vh;
    background-color: 'yellow';  
    background-color: yellow;
    margin-top: 5px;
    margin-left: 19px;
}
.matAsset1,.matAsset4{
    width: 7vh;
    height: 7vh;
    margin-left: 2px;
    background-size: contain;
    background-image: url('https://thumbs.dreamstime.com/b/isometric-flat-d-isolated-vector-rover-standing-mars-concept-94755906.jpg');
}
.matAsset4 {
    transform: rotate(8deg);
    margin-left: 15px;
}

.thirdPage{
    height: 100vh;
    background-color: black;
}
.fourthPage{
    height: 100vh;
    background-color: black;
}

.zoomthird {
    transition: transform .3s;
  }
  
.zoomthird:hover {
    transform: scale(1.20);
  }

.zoomfourth {
    transition: transform .3s;
}
  
.zoomfourth:hover {
    transform: scale(1.19);
  }



/* DIAL             ---------- */
.Dial {
    width: 400px;
    height: 400px;
    background-image: radial-gradient(circle at -120px 200px, black 28%,grey 30%,black 31%);
    border: 2px solid red;
    display: table;
}

  .dialText {
    color: grey;
    font-size: 30px;
    transition: width 2s ;display: table-cell;
    vertical-align: middle;
    padding-left: 70px;
  }
  .subMenus {
      display: none;
      font-size: 20px;
  }
  .dialText > ul > li {
      padding: 5%;
      transition: width 2s ;
  }
  .dialText > ul > li> div > ul > li{
      padding: 5%;
      transition: width 2s;
  }

  @keyframes upAndDown {
      0% {
        transform: translate(0,-10px);
      }
      100% {
          transform: translate(0,10px);
      }
  }
  .arrowDown {
      animation-name: upAndDown;
      animation-iteration-count:infinite;
      animation-duration: 1s;
      animation-direction: alternate;
      animation-delay: 0ms;
      animation-timing-function: ease-in-out;
      margin-left: 10%;
  }