.firstPage {
    height: 120vh;
    /* background-color: #1b1c1d; */
    overflow:hidden !important;
  }
  .firstPage:hover {
    /* height: 100vh; */
    box-shadow: 0px 0px 80px -20px #74c54f;
  }
  
  .firstPageMain {
    height: 100vh;
    /* background-color: #1b1c1d; */
    overflow:hidden !important;
  }

.secondPage {
  /* height: 100vh; */
  transition: 0.5s;
  background-color: #1b1c1d;
}
.secondPage:hover {
  /* height: 100vh; */
  background-color: #1b1c1d;
  box-shadow: 0px 0px 80px -20px #74c54f;
}

.landingFooter{
  background-color: #1b1c1d !important;
  border-radius: 2rem !important;
  color: white;
  margin-top: 10vh;
  transition: ease-in-out 0.5s;
}
button.ui.icon.button.SideNavMobButton {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}
.ui.inverted.secondary.vertical.labeled.icon.ui.overlay.right.wide.visible.sidebar.sidebarAdminPanel.menu{
  background-color: #1b1c1d !important;
}
.fourteen.column.row.mainRow {
    margin-top: 15vh;
}
.mainPageContent{
  opacity: 0.0;
  transition: ease-in-out 2s;
}
i.red.spinner.massive.loading.icon {
  flex: auto;
  align-self: center;
}
@media only screen and (min-width: 1080px) {
canvas.TechLogoMainPage {
  /* margin-left: 7vh; */
  zoom: 1.2;
}
}
@media only screen and (min-width: 768px) {
  /* computer */
           /* canvas.TechLogoMainPage {
            margin-left: 80px;
        } */
                
        .centered.sixteen.column.row {
          margin-left: -15% !important;
        }
        .ui.medium.header.Title {
            font-size: 6vh;
            }
            .ui.yellow.large.statistic.yellowStats{
              margin-top: 120px;
            }
            
            .ui.red.large.statistic.redStats{
              margin-top: 120px; 
            }
            .firstPage {
              height: 120vh;
            }                       
            .secondPage {
              height: 100vh;
              padding: 15vh;
            }
            .thirdPage {
              height: 150vh;
            }
} 
@media only screen and (max-width: 728px) {
  /* Mobile */
  .firstPage{
    /* background-image: url('https://farm6.staticflickr.com/5639/24146454675_f471149b4e_o_d.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
  }
  .six.wide.computer.twelve.wide.mobile.column.leftMain {
    text-align: -webkit-center !important;
}
          .center.aligned.row.IntroRow {
            width: auto !important;
          }
          canvas.TechLogoMainPage {
            transform: scale(1.8);
            margin-left: -9%;
            margin-bottom: 13vh;
          }
              
          .arrowDown{
            padding-top: 80px;
          }
          .column.map {
            text-align: -webkit-center !important;
          }        
          .column.IntroRow {
            text-align: -webkit-center !important;

          }

          .ui.medium.header.Title {
              font-size: 2vh;
              /* text-align: left; */
              }
            .ui.grid.ImageMatrix {
                margin-top: -62px;
            }
            .ui.yellow.large.statistic.yellowStats{
              margin-top: 8vh;
            }
                              
            .secondPage {
              height: auto;
            }
            .thirdPage {
              height: auto;
            }
        
            
} 

.ui.medium.header.Title {
  color: white;
}
/* .ui.small.image.matAsset1 {
    width: 13vh;
    height: 13vh;
}
.ui.small.image.matAsset4 {
    width: 13vh;
    height: 13vh;
} */
.matAsset2 {
    width: 7vh;
    height: 7vh;
    /* opacity: 0.5; */
    z-index: 5;
    background-color: red;
    opacity: 0.5;
}
.matAsset3 {
    width: 7vh;
    height: 7vh;
    background-color: 'yellow';  
    background-color: yellow;
    margin-top: 5px;
    margin-left: 19px;
}
.matAsset1,.matAsset4{
    width: 7vh;
    height: 7vh;
    margin-left: 2px;
    background-size: contain;
    background-image: url('https://thumbs.dreamstime.com/b/isometric-flat-d-isolated-vector-rover-standing-mars-concept-94755906.jpg');
}
.matAsset4 {
    transform: rotate(8deg);
    margin-left: 15px;
}

.thirdPage{
    height: auto;
    /* background-color: black; */
}
.fourthPage{
    height: 120vh;
    /* background-color: black; */
    margin: auto;
    padding-left: 15%;
    padding-right: 15%;
}

.zoomthird {
    transition: transform .3s;
    color: white;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 2vh;
    margin-right: 2vh;
    padding: 1vh;
  }

.headerthird{
    font-size: 20px;
    margin-bottom: 1vh;
}
  
.zoomthird:hover {
    transform: scale(1.2);
  }

.zoomfourth {
    transition: transform .4s;
}
  
.zoomfourth:hover {
    transform: scale(1.19);
  }


/* arc */

.arc {
  height: 40vh;
  margin-top: 10px;
  width: 10vh;
  opacity: 0;
}

/* DIAL             ---------- */

.Dial {
    width: 200px;
    height: 250px;
    transition: ease-in-out 0.5s, margin border ease 0s;
    display: table;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: left;
    border-radius: 100%;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    margin-top: -6vh;
    zoom: 2;
    position: relative;
    z-index: 999;
    margin-left: -100px;
}
  .dialText {
    color: grey;
    font-size: 12px;
    transition: width 2s ;
    display: table-cell;
    vertical-align: middle;
  
  }
  .subMenus {
      display: block;
      /* height: 0px; */
      /* background-color: grey; */
      /* opacity: 0.0; */
      /* margin-left: 8vh; */
      /* transition: ease-in-out 0s, opacity 0s ease; */
      transition: ease-in-out 0.2s;
      font-size: 10px;
      text-align: left !important;
      /* border-righ  t: 1px solid grey; */
  }
  
/* DIAL EFFECTS */
.Menu {
  /* background-color: blue; */
  /* transition: padding 0s ease, font-size 0s ease, height 0s; */
  transition: ease-in-out 0.2s;
  cursor: pointer;
  width: fit-content;
}
.Menu1, .Menu2, .Menu3, .Menu4, .Menu5{
    transition: ease-in-out 0.5s;
    /* border: 1px solid rgba(128, 128, 128, 0.253); */
    /* border-radius: 2rem; */
    text-align: left;
    padding-left: 18vh;
    margin-bottom: 8px;
    /* width: 15vh; */
}

.Menu1:hover .subMenu1, .Menu2:hover .subMenu2, .Menu3:hover .subMenu3, .Menu4:hover .subMenu4, .Menu5:hover .subMenu5{
    /* transform:translate(20px,0px); */
    /* text-align: right; */
    /* width:20vh; */
    opacity: 1.0;
    /* color: green; */
    height: auto;
}
.Menu1:hover , .Menu2:hover , .Menu3:hover , .Menu4:hover , .Menu5:hover .subMenu5{
  /* transform:translate(20px,0px); */
  /* text-align: right; */
}


@keyframes coinRotate {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes upAndDown {
      0% {
        transform: translate(0,-10px);
      }
      100% {
          transform: translate(0,10px);
      }
  }
  .arrowDown {
      animation-name: upAndDown;
      animation-iteration-count:infinite;
      animation-duration: 1s;
      animation-direction: alternate;
      animation-delay: 0ms;
      animation-timing-function: ease-in-out;
  }

* {
    margin: 0;
    padding: 0;
}

#hexGrid {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  list-style-type: none;
}

.hex {
  position: relative;
  visibility:hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hex::after{
  content:'';
  display:block;
  padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
}
.hexIn{
  position: absolute;
  width:96%;
  padding-bottom: 110.851%; /* =  width / sin(60) */
  margin:0 2%;
  overflow: hidden;
  visibility: hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
      -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
          transform: rotate3d(0,0,1,-60deg) skewY(30deg);
}
.hexIn * {
  position: absolute;
  visibility: visible;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hexLink {
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
        -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
            transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}

/*** HEX CONTENT **********************************************************************/
.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0,0,0,0deg);
      -ms-transform: rotate3d(0,0,0,0deg);
          transform: rotate3d(0,0,0,0deg);
          
  border-color: 10px solid red;
}

.hex h1, .hex p {
  width: 100%;
  padding: 5%;
  box-sizing:border-box;
  color: #fff;
  background-color: rgba(0, 128, 128, 0.8);
  font-weight: 300;
  -webkit-transition:  -webkit-transform .2s ease-out, opacity .3s ease-out;
          transition:          transform .2s ease-out, opacity .3s ease-out;
}
.hex h1 {
  bottom: 50%;
  padding-top:50%;
  font-size: 1.5em;
  z-index: 1;
  color: #fff;
  -webkit-transform:translate3d(0,-100%,0);
      -ms-transform:translate3d(0,-100%,0);
          transform:translate3d(0,-100%,0);
}
.hex h1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 10%;
  text-align: center;
  border-bottom: 1px solid #fff;
}
.hex p {
  top: 50%;
  padding-bottom:50%;
  -webkit-transform:translate3d(0,100%,0);
      -ms-transform:translate3d(0,100%,0);
          transform:translate3d(0,100%,0);
}

/*** HOVER EFFECT  **********************************************************************/
.hexLink:hover h1, .hexLink:focus h1,
.hexLink:hover p, .hexLink:focus p{
  -webkit-transform:translate3d(0,0,0);
      -ms-transform:translate3d(0,0,0);
          transform:translate3d(0,0,0);
}

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width:1201px) { /* <- 5-4  hexagons per row */
  #hexGrid{
    padding-bottom: 4.4%
  }
  .hex {
    width: 20%; /* = 100 / 5 */
  }
  .hex:nth-child(9n+6){ /* first hexagon of even rows */
    margin-left:10%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 1200px) and (min-width:901px) { /* <- 4-3  hexagons per row */
  #hexGrid{
    padding-bottom: 5.5%
  }
  .hex {
    width: 25%; /* = 100 / 4 */
  }
  .hex:nth-child(7n+5){ /* first hexagon of even rows */
    margin-left:12.5%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 900px) and (min-width:601px) { /* <- 3-2  hexagons per row */
  #hexGrid{
    padding-bottom: 7.4%
  }
  .hex {
    width: 33.333%; /* = 100 / 3 */
  }
  .hex:nth-child(5n+4){ /* first hexagon of even rows */
    margin-left:16.666%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 600px) { /* <- 2-1  hexagons per row */
  #hexGrid{
    padding-bottom: 11.2%
  }
  .hex {
    width: 50%; /* = 100 / 3 */
  }
  .hex:nth-child(3n+3){ /* first hexagon of even rows */
    margin-left:25%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 400px) {
    #hexGrid {
        font-size: 13px;
    }
}

.carousel{
    background-color: #1b1c1d;
}

.recruitmentRibbon{
  width: 97%;
  text-align: center;
  /* background-color: rgba(170, 255, 0, 0.678); */
  border: 2px solid rgba(227, 172, 9, 0.562);
  height:4.2vh;
  border-radius: 2px;
  position: absolute;
  top: 0;
  transition: 1s linear;
  color: rgb(227,171,9);
  font-size: auto;
  z-index: 999;
}
.recruitmentRibbon:hover {
    background-color: rgba(255, 255, 0, 0.322);
    height: 10vh;
}
.recruitmentRibbon:hover .ui.black.big.image.label.recruitLabel{
    display: block;
}
.ui.black.big.image.label.recruitLabel{
  display: none;
  background-color: transparent !important;
  border: none !important;
}